profile = default
margin = 100
sequence-style = separator
break-separators = after
space-around-arrays = true
space-around-lists = true
space-around-records = true
indicate-nested-or-patterns = space
break-cases = all
cases-exp-indent = 2
exp-grouping = preserve
if-then-else = keyword-first
let-and = sparse
module-item-spacing = sparse
parens-tuple = always
sequence-blank-line = preserve-one
wrap-fun-args = false
let-binding-spacing = sparse
field-space = loose
function-indent = 2
nested-match = align
type-decl-indent = 2
doc-comments-padding = 2
module-item-spacing = preserve
doc-comments-padding = 2
break-infix = fit-or-vertical
